**Created by:** Revekka Gershovich 
**When:** Nov 19, 2024 
**Purpose:** To match FD level to states for each year to append this dataset to the one in memory in Stata in clean_for_reg.do right before merging with polstate1 and postate2 datasets, i.e. political similarity datasets

In [9]:
import os
import os.path as path
import pandas as pd
import numpy as np

In [10]:
# parent_dir = os.path.abspath("/Users/rivka666/Dropbox (MIT)/StateLaws")
parent_dir = os.path.abspath("/Users/revekkagershovich/Dropbox (MIT)/StateLaws")
os.chdir(parent_dir)
assert os.path.exists(parent_dir), "parent_dir does not exist"
data_dir = "./2_data/2_intermediate/political_data"
assert os.path.exists(data_dir), "Data directory does not exist"

In [11]:
years = range(1834, 2021, 2)
states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 
          'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
          'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 
          'VA', 'WA', 'WV', 'WI', 'WY']
fd = ['FD']  # Representing the Federal Level

# Generate all combinations of year, FD with each state as state1 and state2
data = []

# Generate pairs: FD as state1 and states as state2, and vice versa
for year in years:
    for state in states:
        data.append({'year': year, 'state1': 'FD', 'state2': state})
        data.append({'year': year, 'state1': state, 'state2': 'FD'})

# Create a DataFrame from the generated data
df = pd.DataFrame(data)

In [12]:
df['censussimilarity'] = np.nan
df['distance'] = np.nan
df['rank_dist'] = np.nan
df['share_border_state1'] = np.nan
df['share_border_state2'] = 0
df['expanded'] = 0

# Rename 'year' column to 'year1' and duplicate it as 'year2'
df.rename(columns={'year': 'year1'}, inplace=True)
df['year2'] = df['year1']

In [13]:
# Display or save the DataFrame
print(df.sample(10))

      year1 state1 state2  censussimilarity  distance  rank_dist  \
1886   1870     FD     UT               NaN       NaN        NaN
2054   1874     FD     NV               NaN       NaN        NaN
7637   1986     ME     FD               NaN       NaN        NaN
5579   1944     SC     FD               NaN       NaN        NaN
1427   1862     IN     FD               NaN       NaN        NaN
6999   1972     WY     FD               NaN       NaN        NaN
2053   1874     NE     FD               NaN       NaN        NaN
4864   1930     FD     NC               NaN       NaN        NaN
3051   1894     MT     FD               NaN       NaN        NaN
2315   1880     DE     FD               NaN       NaN        NaN

      share_border_state1  share_border_state2  expanded  year2
1886                  NaN                    0         0   1870
2054                  NaN                    0         0   1874
7637                  NaN                    0         0   1986
5579                  NaN                    0         0   1944
1427                  NaN                    0         0   1862
6999                  NaN                    0         0   1972
2053                  NaN                    0         0   1874
4864                  NaN                    0         0   1930
3051                  NaN                    0         0   1894
2315                  NaN                    0         0   1880

In [14]:
# Create a dictionary mapping state abbreviations to full state names
state_name_map = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas',
    'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts',
    'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana',
    'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico',
    'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma',
    'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota',
    'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington',
    'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming', 'FD': 'Federal'  # Add "Federal" for FD
}

# Map the full state names to statename1 and statename2
df['statename1'] = df['state1'].map(state_name_map)
df['statename2'] = df['state2'].map(state_name_map)

In [15]:
df.head()

,year1,state1,state2,censussimilarity,distance,rank_dist,share_border_state1,share_border_state2,expanded,year2,statename1,statename2
0,1834,FD,AL,NaN,NaN,NaN,NaN,0,0,1834,Federal,Alabama
1,1834,AL,FD,NaN,NaN,NaN,NaN,0,0,1834,Alabama,Federal
2,1834,FD,AK,NaN,NaN,NaN,NaN,0,0,1834,Federal,Alaska
3,1834,AK,FD,NaN,NaN,NaN,NaN,0,0,1834,Alaska,Federal
4,1834,FD,AZ,NaN,NaN,NaN,NaN,0,0,1834,Federal,Arizona

In [16]:
df.to_csv(path.join(data_dir, 'federal_matching.csv'), index=False)