Created by: Nicolas Purpose: This file creates political cosine similarity between states
Modified by: Revekka Purpose: Also to obtain political cosine similarity between federal and state data

In [2]:
import pandas as pd 
import os 
from sklearn.metrics.pairwise import cosine_similarity
# os.chdir("/Users/nicolaslonguetmarx/Dropbox/StateLaws/")
# os.chdir("/Users/revekkagershovich/Dropbox (MIT)/StateLaws")

In [22]:
parent_dir = os.path.abspath("/Users/revekkagershovich/Dropbox (MIT)/StateLaws")
os.chdir(parent_dir)
assert os.path.exists(parent_dir), "parent_dir does not exist"
data_dir = "./2_data/2_intermediate/political_data"
assert os.path.exists(data_dir), "Data directory does not exist"

In [24]:
house_comp = pd.read_csv(os.path.join(data_dir, "political_composition.csv"))

In [63]:
print(house_comp.yr_rd2.max())

2024

In [25]:
house_comp.sample(5)
print(house_comp["state_abbrev"].unique())

['AL' 'CT' 'DE' 'Fed' 'GA' 'IL' 'IN' 'KY' 'LA' 'MA' 'MD' 'ME' 'MO' 'MS'
 'NC' 'NH' 'NJ' 'NY' 'OH' 'PA' 'RI' 'SC' 'TN' 'VA' 'VT' 'AR' 'MI' 'FL'
 'IA' 'TX' 'WI' 'CA' 'MN' 'OR' 'KS' 'NV' 'WV' 'NE' 'CO' 'ID' 'MT' 'ND'
 'SD' 'WA' 'WY' 'UT' 'OK' 'AZ' 'NM' 'HI' 'AK']

In [66]:
all_sim_data = []

for yr in range(1834, 2020, 2): # We don't have state data for after 2020
    year_data = house_comp[house_comp['yr_rd2']==yr] # Filtered to only work with the current year in the loop 
    print(f"Number of states for year {yr} is {len(year_data)}")
    year_data = year_data.dropna(axis=1, how='all')
    # year_data = year_data[year_data['dem_upphse'].isna()==False]
    list_col = list(house_comp.columns) # Get the list of columns of the initial df
    list_col.remove('state_abbrev')
    list_col.remove('yr_rd2')
    year_data = year_data.dropna()
    house_comp_val_only = year_data[list_col] # Filters data to only have columns in list_col
    similarity = cosine_similarity(house_comp_val_only, house_comp_val_only) # Generates the cosine similarity matrix
    sim_data = pd.DataFrame(similarity) # Converts the similarity matrix to a dataframe
    sim_data.columns = list(year_data[['state_abbrev', 'yr_rd2']].state_abbrev) 
    sim_data = year_data[['state_abbrev', 'yr_rd2']].reset_index(drop=True).merge(sim_data, left_index=True, right_index=True) 
    sim_data.to_csv("2_data/2_intermediate/political_data/cosinetemp/political_composition_"+str(yr)+".csv", index=False)

Number of states for year 1834 is 25
Number of states for year 1836 is 26
Number of states for year 1838 is 26
Number of states for year 1840 is 25
Number of states for year 1842 is 25
Number of states for year 1844 is 27
Number of states for year 1846 is 30
Number of states for year 1848 is 31
Number of states for year 1850 is 31
Number of states for year 1852 is 32
Number of states for year 1854 is 32
Number of states for year 1856 is 32
Number of states for year 1858 is 33
Number of states for year 1860 is 33
Number of states for year 1862 is 34
Number of states for year 1864 is 37
Number of states for year 1866 is 36
Number of states for year 1868 is 38
Number of states for year 1870 is 38
Number of states for year 1872 is 38
Number of states for year 1874 is 38
Number of states for year 1876 is 39
Number of states for year 1878 is 39
Number of states for year 1880 is 39
Number of states for year 1882 is 39
Number of states for year 1884 is 39
Number of states for year 1886 is 39
Number of states for year 1888 is 39
Number of states for year 1890 is 45
Number of states for year 1892 is 45
Number of states for year 1894 is 45
Number of states for year 1896 is 45
Number of states for year 1898 is 46
Number of states for year 1900 is 46
Number of states for year 1902 is 46
Number of states for year 1904 is 46
Number of states for year 1906 is 45
Number of states for year 1908 is 46
Number of states for year 1910 is 46
Number of states for year 1912 is 49
Number of states for year 1914 is 49
Number of states for year 1916 is 49
Number of states for year 1918 is 49
Number of states for year 1920 is 48
Number of states for year 1922 is 48
Number of states for year 1924 is 49
Number of states for year 1926 is 49
Number of states for year 1928 is 49
Number of states for year 1930 is 49
Number of states for year 1932 is 49
Number of states for year 1934 is 49
Number of states for year 1936 is 7
Number of states for year 1938 is 45
Number of states for year 1940 is 47
Number of states for year 1942 is 47
Number of states for year 1944 is 46
Number of states for year 1946 is 47
Number of states for year 1948 is 47
Number of states for year 1950 is 46
Number of states for year 1952 is 47
Number of states for year 1954 is 47
Number of states for year 1956 is 48
Number of states for year 1958 is 49
Number of states for year 1960 is 50
Number of states for year 1962 is 50
Number of states for year 1964 is 49
Number of states for year 1966 is 49
Number of states for year 1968 is 50
Number of states for year 1970 is 50
Number of states for year 1972 is 50
Number of states for year 1974 is 50
Number of states for year 1976 is 50
Number of states for year 1978 is 50
Number of states for year 1980 is 49
Number of states for year 1982 is 49
Number of states for year 1984 is 49
Number of states for year 1986 is 47
Number of states for year 1988 is 48
Number of states for year 1990 is 49
Number of states for year 1992 is 50
Number of states for year 1994 is 50
Number of states for year 1996 is 50
Number of states for year 1998 is 50
Number of states for year 2000 is 50
Number of states for year 2002 is 50
Number of states for year 2004 is 50
Number of states for year 2006 is 50
Number of states for year 2008 is 50
Number of states for year 2010 is 50
Number of states for year 2012 is 48
Number of states for year 2014 is 46
Number of states for year 2016 is 37
Number of states for year 2018 is 26

In [67]:
sim_data.columns

Index(['state_abbrev', 'yr_rd2', 'CA', 'CO', 'CT', 'FL', 'Fed', 'GA', 'ID',
       'IL', 'KS', 'KY', 'ME', 'MI', 'MN', 'MO', 'MS', 'NJ', 'NM', 'NV', 'OH',
       'OK', 'SD', 'TN', 'VA', 'WI', 'WY'],
      dtype='object')

In [68]:
sim_data.sample(10)

,state_abbrev,yr_rd2,CA,CO,CT,FL,Fed,GA,ID,IL,...,NJ,NM,NV,OH,OK,SD,TN,VA,WI,WY
15,NJ,2018,0.936505,0.939732,0.938124,0.962187,0.983589,0.957406,0.892555,0.998462,...,1.000000,0.997536,0.999151,0.945734,0.908269,0.889387,0.909465,0.902900,0.967410,0.876128
19,OK,2018,0.789136,0.889181,0.895361,0.985290,0.966439,0.989441,0.997582,0.917481,...,0.908269,0.923138,0.921536,0.994675,1.000000,0.996964,0.999901,0.925222,0.981409,0.996818
11,MI,2018,0.859877,0.927350,0.930109,0.997296,0.992912,0.998610,0.979927,0.966101,...,0.961358,0.969363,0.970128,0.998038,0.988179,0.978273,0.988341,0.935204,0.996591,0.973788
3,FL,2018,0.862212,0.924941,0.930981,1.000000,0.995477,0.999546,0.981271,0.970308,...,0.962187,0.973997,0.968918,0.997456,0.985290,0.980015,0.986481,0.942848,0.999766,0.973127
14,MS,2018,0.872312,0.930595,0.935058,0.999412,0.997480,0.998980,0.975908,0.975766,...,0.969439,0.978902,0.975966,0.996321,0.982188,0.974355,0.983121,0.940561,0.999598,0.967424
17,NV,2018,0.930689,0.942594,0.940473,0.968918,0.987543,0.965343,0.905315,0.997286,...,0.999151,0.996698,1.000000,0.955336,0.921536,0.902184,0.922307,0.907591,0.973351,0.890592
0,CA,2018,1.000000,0.972298,0.968536,0.862212,0.894577,0.854669,0.770493,0.931528,...,0.936505,0.928409,0.930689,0.838116,0.789136,0.766757,0.790724,0.912851,0.870146,0.750049
7,IL,2018,0.931528,0.938794,0.939976,0.970308,0.988713,0.964978,0.905544,1.000000,...,0.998462,0.999849,0.997286,0.953487,0.917481,0.902819,0.919281,0.914017,0.975194,0.888853
16,NM,2018,0.928409,0.938990,0.940820,0.973997,0.990860,0.968819,0.912129,0.999849,...,0.997536,1.000000,0.996698,0.957803,0.923138,0.909539,0.924999,0.918042,0.978588,0.895800
6,ID,2018,0.770493,0.874766,0.884389,0.981271,0.958687,0.984735,1.000000,0.905544,...,0.892555,0.912129,0.905315,0.990232,0.997582,0.999962,0.998230,0.925810,0.976967,0.999022